/* ContactPage.css */

:root {
    --primary-color: #0a0a0a;
    /* Adjust these colors as needed */
    --purple-color: #530d99;
    --secondary-color: #6a1b9a;
    --background-color: #242424;
    --text-color: rgba(255, 255, 255, 0.87);
}

body {
    font-family: Arial, sans-serif;
    font-weight: bold;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;

}

.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-form-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80vw;

}

.contact-email {
    display: flex;
    flex-direction: row;
}

.arrow-wrapper {
    width: 10vw;
    height: 20vh;
    position: relative;
    translate: 0 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: upAndDown 3s ease-in-out infinite;
    background: none;
}

.arrows {
    width: 100%;
    height: 100%;
    color: linear-gradient(to right, rgb(78, 4, 118), pink);

}

.contact-info,
.contact-form, .contact-form select {
    border-radius: 8px;
    padding: 20px;
    min-width: 40vw;
}

.contact-info h2,
.contact-form h2, .contact-form select {
    color: var(--purple-color);
    font-weight: bold;
}

.contact-form form, .contact-form select {
    display: flex;
    flex-direction: column;
}

.contact-form label, .contact-form select {
    margin-top: 8px;
}

.contact-form input, 
.contact-form textarea, .contact-form select {
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    padding: 8px;
    margin-top: 8px;
}

.contact-form button, .contact-form select {
    margin-top: 10px;
    color: white;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    padding: 11px;
    cursor: pointer;
}

.contact-form select::before{
    
}

.contact-form button, .contact-form select:hover {
    background-color: var(--secondary-color);
}

.map-container {
    width: 80vw;
    height: 20wh;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
}

@keyframes upAndDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
    
}
