.header {
  background-color: var(--color-almost-black);
  color: var(--color-text);
  width: 100%;
  height: 13%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex:1;
  position:static;
  box-shadow: inset 0px 0px 10px rgba(77, 77, 77, 0.5);
}

.title {
  font-family: kelsifont;
  font-size: 50px;
  text-align: center;
  padding-top: 10%;
  /*A  LETRA É GIGANTE E ESTÁ DESALINHADA  */
}

.logo-container {
  display: flex;
  align-items: center;
  text-align: right;
}

.navbar {
  margin: auto;
  text-align: center;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  height: 100%;
  padding-left: 20%;
}

.navbar ul {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 10vw;
  height: 15vh;
  color: var(--color-text);
  text-decoration: none;
}



.nav-links {
  list-style: none;
  gap: 2em;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: var(--color-text);
  text-decoration: none;
  padding: 15px;
}

.nav-links li:hover {
  color: rgb(66, 6, 232);
  text-decoration: line-through;
  transition: all 1s linear;
}

.pfp-box{
  width: 50px;
  background-color: blueviolet;
  z-index: 0;
}
.login-button{
  color: rgb(123, 0, 123);
  border-radius: 10px;
  background-color: none;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.profile-area{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.user-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  z-index: 0;
}