.footer {
   width: 100%;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
  
  }
  

  .socials{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .middle-part{
    background-color: rgba(60, 36, 100, 0.3);
  }