/* RegistrationAndLoginModal.css */

:root {
    --primary-color: #0a0a0a;
    --purple-color: #530d99;
    --secondary-color: #6a1b9a;
    --background-color: #242424;
    --text-color: rgba(255, 255, 255, 0.87);
}

.modal-content {
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 8px;
    padding: 20px;
}

.modal-header,
.modal-footer {
    border-bottom: none;
    border-top: none;
}

.modal-title {
    color: var(--purple-color);
    font-weight: bold;
}

.form-control {
    background-color: var(--background-color);
    border: 1px solid var(--secondary-color);
    color: var(--text-color);
    border-radius: 4px;
    padding: 8px;
    margin-top: 8px;
}

.form-control:focus {
    border-color: var(--purple-color);
    box-shadow: none;
}

.btn-primary {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: var(--text-color);
    padding: 11px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.btn-primary:hover {
    background-color: var(--purple-color);
    border-color: var(--purple-color);
}

.checkbox-label {
    margin-top: 10px;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.checkbox-label input {
    margin-right: 10px;
}   

/* RegistrationAndLoginModal.css - Additional Styles */
.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.form-options a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}

.form-options a:hover {
    color: var(--purple-color);
    text-decoration: underline;
}

.checkbox-label {
    display: flex;
    align-items: center;
}

