:root {
  --font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;

  --color-scheme: light dark;
  --color-text: rgba(255, 255, 255, 0.87);
  --color-background: #242424;
  --color-almost-black: #0a0a0a;
  --color-purple: #6a0dad;
  --color-purple-hover: #530d99;
  --color-neon-blue: #646cff;
  --color-neon-blue-hover: #535bf2;
  --color-pink: #ff1493;
  --color-pink-hover: #cc1174;

  --button-radius: 8px;
  --button-border: 1px solid transparent;
  --button-padding: 0.6em 1.2em;
  --button-font-size: 1.5em;
  --button-font-weight: 500;

  --transition-time: 0.75s;
}

a {
  font-weight: var(--button-font-weight);
  color: var(--color-neon-blue);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-neon-blue-hover);
}

.carousel-item img, .carousel-item video {
  width: 100%;
  height: 80vh; /* Adjust this to your desired height */
  object-fit: cover; /* This will ensure the aspect ratio is maintained */
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-background);
  font-family: var(--font-family);
  color: var(--color-text);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
}

header {
  background-color: var(--color-almost-black);
  color: var(--color-text);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1em;
}

#greeting{
  color: solid white;
  font-weight: 700;
  font-family: kelsifont;
}
.nav-links a {
  color: var(--color-text);
  text-decoration: none;
}

.carousel-container {
  position: relative;
}

.carousel-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--color-text);
}

.carousel-overlay h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 0.5em;
}

.carousel-overlay p {
  margin-bottom: 1.5em;
}

.button-container {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.cta-button,
.signup-button {
  border-radius: var(--button-radius);
  border: var(--button-border);
  padding: var(--button-padding);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  font-family: inherit;
  cursor: pointer;
  transition: border-color var(--transition-time);
}

.cta-button {
  background-color: var(--color-purple);
  color: var(--color-text);
}

.cta-button:hover {
  border-color: var(--color-purple-hover);
}

.signup-button {
  background-color: var(--color-pink);
  color: var(--color-text);
}

.signup-button:hover {
  border-color: var(--color-pink-hover);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: #213547;
    --color-background: #ffffff;
  }
  a:hover {
    color: var(--color-neon-blue-hover);
  }
  button {
    background-color: #f9f9f9;
  }
}
