:root {
    --color-text: #ffffff;
    --button-border: 2px solid #6a0dad;
    --button-font-weight: bold;
    --transition-time: 1s;
    --color-scheme: #ece4f0;
}

.dpd-btn .dropdown-toggle {
    font-size: 1em;
    font-weight: var(--button-font-weight);
    line-height: 1.5;
    color: var(--color-text);
    border: var(--button-border);
    font-weight: var(--button-font-weight);
    transition: background-color var(--transition-time), color var(--transition-time);
    background-color: transparent;
}

.dpd-btn .dropdown-toggle:hover {
    color: rgb(66, 6, 232);
    text-decoration: line-through;
    transition: all 1s linear;

}

.dpd-item {
    background-color: var(--color-scheme);
    color: #000;
    font-weight: var(--button-font-weight);
}

.dpd-item:hover {
    text-decoration: line-through;
    color: var(--color-purple)
}


.dpd-item.active {
    background-color: var(--color-scheme);
}


.dpd-btn:hover .dropdown-menu {
    display: block;
    transition: all 1 linear;
}

.dpd-btn .dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1000;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: center;
    list-style: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}