.about-page {
    width: 100vw;
    height: 100vh;
}

.inventing {
    font-family: diskopia;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: absolute;
    translate: 50% 22%;
    gap: 10%;
    
}

#about-us {
    font-size: 5vh;
    color: rgb(131, 98, 98);
    margin-top: 5%;
    margin-bottom: 5%;

}

.inventing h1 {
    font-size: 7vh;
    background: linear-gradient(to right, rgb(78, 4, 118), pink);
    -webkit-background-clip: text;
    color: transparent;
}

.about-div {
    padding: 0 10% 0 10%;
    padding: 0 25% 0 25%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#discoGif {
    width: 10em;
    height: 20em;
}

.first-about {
    display: flex;
    gap: 20px;
    flex-direction: row;
    border: 4px solid rgb(86, 8, 86);
    background-color: rgba(86, 8, 86, 0.8);
    border-radius: 10px;
    line-height: 50px;
}

.second-about {
    display: flex;
    flex-direction: row;
    padding: 5% 10% 0 10%;
    line-height: 50px;
}

.about-text {
    font-size: larger;
}