/* //Used only for colored theme
:root {
    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;

    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;
}

.Toastify__toast-theme--dark {
    
}

.Toastify__toast-theme--light {}

.Toastify__toast-theme--colored.Toastify__toast--default {}

.Toastify__toast-theme--colored.Toastify__toast--info {}

.Toastify__toast-theme--colored.Toastify__toast--success {}

.Toastify__toast-theme--colored.Toastify__toast--warning {}

.Toastify__toast-theme--colored.Toastify__toast--error {}

.Toastify__progress-bar {}

.Toastify__progress-bar--rtl {}

.Toastify__progress-bar-theme--light {}

.Toastify__progress-bar-theme--dark {}

.Toastify__progress-bar--info {}

.Toastify__progress-bar--success {}

.Toastify__progress-bar--warning {}

.Toastify__progress-bar--error {} */