

#calendar {
  width: 100%;
  height: 800px;
  max-height: 90vh;
}

.sx__calendar-header {
  background-color: rgb(45, 34, 45);
  color: var(--color-text);
}

.sx__view-container {
  background-color: rgb(67, 61, 61);

}

.sx__week-header {
  background-color: rgb(31, 30, 30);
  color: var(--color-text);
}

.sx__week-grid {
  background-color: rgb(57, 33, 33);
}

.sx__month-grid-wrapper{
  background-color: rgb(63, 51, 51);
}

/* espaço entre a linha dos dias e o calendario */
/* .sx__date-grid-day{ */
/* } */